@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to your Todo page</h1>
    <hr />  <br />  
</div>

<div>
    <a href="/Todos" class="btn btn-danger">Show all todos</a>
    <a href="/Todos/Create" class="btn btn-dark">Create new todo</a>
    <a href="/Todos/Edit" class="btn btn-danger">Edit todo</a>
    <a href="/Todos/Delete" class="btn btn-dark">Delete todo</a>
</div>
