@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to your Todo page</h1>
    <hr />  <br />  
</div>

<div>
    <a href="/Todo" class="btn btn-dark">Show all todos</a>
    <a href="/Todo/Create" class="btn btn-dark">Create new todo</a>
</div>
