@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/Site.css")" type="text/css" />
</head>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
