@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 5%">Welcome To Customer List Web Application</h1>
</div>
<div style="padding-left:20%; padding-top:5%">
    <a href="/Customers" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show All Customers</a>
    <a href="/Orders" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show All Orders</a>
</div>
