@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Library Web Application</h1>
</div>
<div style="padding-left:20%; padding-top:10%">
    <a href="/Members" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show Members</a>
    <a href="/Books" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show Books</a>
    <a href="/Films" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show Films</a>
    <a href="/Rents" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show Rents</a>
</div>



