@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 5%">Welcome To Web Security Application</h1>
</div>
<div style="padding-left:20%; padding-top:5%">
    <a href="/Users" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Show Users</a>
    <a href="/Backup" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Backup</a>
    <a href="/Login" class="btn btn-primary btn-lg" style=" width:75%; margin-top: 2% ">Test login</a>
</div>
