@{
    ViewData["Title"] = "Home Page";
}

    <form action="/Customers" method="post">
        <div>
            <label for="customer">Choose customer type:</label>

            <select name="customerType">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div class="col-md-4">
            <div>
                <input type="text" name="ssn" value="" placeholder="SSN" class="form-control" />
            </div>
            <div>
                <input type="text" name="password" value="" placeholder="Password" class="form-control" />
            </div>
        </div class="col-md-4">
        <div>    
            <input type="submit" name="submit" value="Login" />
        </div>
    </form>