@{
    ViewData["Title"] = "Edit";
}

<h1>Createing Todo</h1>

<form action="/Todo/Edit" method="post">

    <div>
        <input type="text" name="name" value="" placeholder="Name" />
    </div>
    <br />
    <div>
        <input type="text" name="description" value="" placeholder="Description" />
    </div>


    <div>
        <br /><p>Priority: </p>
        <input type="radio" name="priority" value="High" style="float:left" /><p>High</p>
        <input type="radio" name="priority" value="Medium" style="float:left" /><p>Medium</p>
        <input type="radio" name="priority" value="Low" style="float:left" /><p>Low</p>
    </div>

    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" name="Submit" value="Submit" class="btn btn-lg btn-primary" />

</form>