@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>This is Animal Farm!</h1>
    </div>

    <div>
        <a href="/Animals" class="btn btn-dark">Show all</a>
        <a href="/Animals/Create" class="btn btn-dark">Create new</a>
    </div>