@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>This is animal farm</h1>
    </div>

    <div>
        <a href="/Animals" class="btn btn-dark">Show all animals</a>
        <a href="/Animals/Create" class="btn btn-dark">Create new animal</a>
    </div>