
@{
    ViewData["Title"] = "Create persons";
}

<h1>Create persons</h1>

<form action="/Persons/Create" method="post">
    <input type="text" name="name" value="" placeholder="Name" />
    <input type="text" name="ssn" value="" placeholder="SSN" />  
    <input type="submit" name="submit" value="submit" class="btn btn-lg btn-primary"/>
</form>
